<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
    <typeAliases>
        <typeAlias type="com.project.portfolio.dto.CompanyLoginDTO" alias="login" />    
        <typeAlias type="com.project.portfolio.dto.CompanyTimeCheckDTO" alias="timeCheck" />    
        <typeAlias type="com.project.portfolio.dto.CompanyWorkCalendarDTO" alias="workCalendar" />    
        <typeAlias type="com.project.portfolio.dto.CompanyWorkDiaryDTO" alias="workDiary" />    
        <typeAlias type="com.project.portfolio.dto.CompanyWorkTypeDTO" alias="workType" />    
    </typeAliases>
</configuration>