<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.project.portfolio.dao.CompanyLoginDAO">
  
  	<insert id="insertEmployee">
  	
  		<selectKey keyProperty="emp_number" resultType="int" order="BEFORE">
  			select nextval(employee_seq)
  		</selectKey>
  		
  		INSERT INTO employee
  			VALUES
  			(#{emp_number},#{emp_id},#{emp_pwd},#{emp_name},#{emp_rank},
  			#{emp_birth},#{emp_gender}, #{emp_department},#{emp_rank_number})
  	</insert>
  	
  	<select id="idSearch" resultType="String">
  		 SELECT emp_id FROM employee 
  			WHERE emp_number = #{emp_number} AND 
  		 		emp_department = #{emp_department} AND
  		 		emp_name = #{emp_name} AND 
  		 		emp_rank= #{emp_rank}
  	</select>
  	
  	<select id="pwdSearch" resultType="String">
  		 SELECT emp_pwd FROM employee 
  			 WHERE emp_id = #{emp_id} AND
  		  		 emp_number = #{emp_number} AND 
  		  		 emp_department = #{emp_department} AND
		  		 emp_name = #{emp_name} AND 
		  		 emp_rank= #{emp_rank}
  	</select>
  	
	<update id="pwdChange">
  		update employee 
  			set emp_pwd = #{emp_pwd}
  			where emp_id = #{emp_id} 
  	</update>
  	
  	<select id="idCheck" parameterType="String" resultType="int">
  		SELECT COUNT(*) FROM employee
  			WHERE emp_id = #{emp_id}
  	</select>
  	
  	<select id="login" resultType="login">
  		select * from employee 
  			where emp_id = #{emp_id} 
  			and emp_pwd = #{emp_pwd}
  	</select>
  
  </mapper>